#baseHead{
	background-color: white;
	padding: 5px;
        border-style: dashed;
        border-width: 5px;
        border-color: #cccccc;
}

#logo{
	font-family: "Lucida Handwriting";
        font-size: 30px;
        color: #ffb3ff;
        text-align: left;
}


/*navbar styling start*/
#navbar{
        list-style-type: none;
        margin: 0;
        padding: 0;
 	overflow: hidden;
 	background-color: #d9d9d9;
}
#navbar li{
        float: left;
}

#navbar li a{
	font-size: 20px;
        display: block;
	text-decoration: none;
        color: #404040;
        text-align: center;
        padding: 14px 16px;
        font-family: "Garamond";
}

#navbar li a:hover {
	background-color: #a6a6a6;
	color: white;
}

/*navbar styling end*/

body { /*styling for the background*/
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #b6c8de;
}

#userInfo{ /*styling for the user information box*/
	width: 50%;
	padding: 10px;
	background-color: white;
        border-style: dashed;
        border-width: 5px;
        border-color: #cccccc;
}

#userName{ /*styling for the username text*/
	font-family: "Lucida Handwriting";
	font-size: 25px;
	color: #ffb3ff;
	text-align: left;
}

#descHeader{
	font-family: "Garamond";
	font-size: 25px;
	color: #9d629d;
}

#desc{
        font-family: "Garamond";
	font-size: 15px;
	color: black;
}

#profileImg{ /*styling for the user profile picture*/
	border-style: dashed;
	border-width: 2px;
	border-color: #999999;
	width: 150px;
	height: auto;
}

#userpics{ /*styling for the table containing images*/
	width: 75%;
	height: 75%;
	background-color: white;
	border-style: dashed;
	border-width: 5px;
	border-color: #cccccc;
}

.pic{ /*styling for the tds containing the images*/
	text-align: center;
}

.pic img{ /*styling for the images themselves*/
	width: 250px;
	height: 250px;
	border: 1px dashed #ccc;
}

.pic img:hover{ /*styling for when the images are hovered over*/
	border: 2px solid #777;
	opacity: 0.5;
}

.follows{
	font-family: "Garamond";
	font-size: 50px;
	color: #92629d;
	text-decoration: none;
}

.follows:hover{
	text-decoration: underline;
	opacity: 0.5;
	font-style: italic;
}

.followImg{
	border: 1px solid #ccc;
	width: 45px;
	height: 45px;
}
