<DOCTYPE! html>
<html>
	<head>
		<link href="{{url_for('static', filename='css/usertest.css')}}", rel="stylesheet"/>
	</head>

	<body>
		<div id="baseHead">
			<h1 id="logo">ImmePic.net</h1>
			<ul id="navbar">
				<li><a href="{{url_for('home', filename='home.html')}}">home</a></li>
				<li><a href="{{url_for('friends', filename='friends.html')}}">following</a></li>
				<li><a href="{{url_for('me', filename='users/mine.html')}}">my page</a></li>
			</ul>
		</div>
		{% block content %} {% endblock %}
	</body>
</html>
