{% extends "base.html" %} <!--gets the template for the navigation bar-->
	{% block content %}
	<br>
		<div id="userInfo"> <!--User information area-->
			<div>
				<img src="../static/img/vmask.jpg" id="profileImg">
				<h3 id="userName">Lucy'sCrafts</h3>
			</div>
			<div>
				<h4 id="descHeader">Description:</h4>
					<p id="desc">
						Hiii! I'm a girl who likes cute crafts! 
					</p>
			</div>
		</div>
		<br>
		<table id="userPics"> <!--Images-->
			<tr>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
			</tr>
                        <tr>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                        <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                        <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                </tr>
       	                <tr>
       	                        <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                        <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                        <td class="pic"><img src="../static/img/vmask.jpg"></td>
       	                </tr>
		</table>
	{% endblock %}
