<DOCTYPE! html>
<html>
	<head>
		<title>userPageTest</title>
		<link href="{{url_for('static',filename='css/usertest.css')}}" rel="stylesheet"/>	
	</head>
	
	<body>
		<div id="userInfo"> <!--User information area-->
			<div>
				<img src="../static/img/vmask.jpg" id="profileImg">
				<h3 id="userName">Username</h3>
			</div>
			<div>
				<h4 id="descHeader">Description:</h4>
					<p id="desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
			</div>
		</div>
		<br>
		<table id="userPics"> <!--Images-->
			<tr>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
				<td class="pic"><img src="../static/img/vmask.jpg"></td>
			</tr>
                        <tr>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                        </tr>
                        <tr>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                                <td class="pic"><img src="../static/img/vmask.jpg"></td>
                        </tr>


		</table>
	
	</body>
</html>
